<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Revive code bot</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css" />
</head>

<body>
  <section>
    <article>
      <h1>Revive code bot</h1>
      <img src="https://tokei.rs/b1/github/blablatdinov/revive-code-bot" alt="loc">
      <img src="https://hitsofcode.com/github/blablatdinov/revive-code-bot" alt="hoc">
      <img src="https://img.shields.io/endpoint?style=flat&url=https://revive-code-bot.ilaletdinov.ru/connected-repos/"
        alt="Connected repos">
      <img src="https://www.rehttp.net/b?u=https%3A%2F%2Frevive-code-bot.ilaletdinov.ru%2Fhook%2Fgithub"
        alt="Rehttp stat">
      <hr>
      <p>
        This bot is an automated tool designed to help maintain repositories by
        identifying and notifying about stagnant code files that might require
        review. It assists in keeping your projects up-to-date and promotes
        regular code reviews to ensure code quality.
      </p>
      <h2>How It Works</h2>
      <hr>
      <p>
        CodeReviewBot analyzes the commit history of files within your repository to identify files that have not been
        modified for a certain period of time. When it detects such stagnant files, it creates an issue within the
        repository, suggesting that a code review may be needed for those files.
      </p>
      <h2>Features</h2>
      <hr>
      <p>
        Automated identification of stagnant code files.
        Creation of issues for files that haven't been modified recently.
        Customizable time threshold for considering files as stagnant.
        Helps maintain code quality by encouraging regular reviews.
        Reduces the risk of having outdated or unmaintained code.
      </p>
      <h2>See also:</h2>
      <hr>
      <a href="https://github.com/blablatdinov/revive-scheduler">revive-scheduler</a>
    </article>
  </section>
</body>

</html>