# SPDX-FileCopyrightText: Copyright (c) 2018-2026 Almaz Ilaletdinov <a.ilaletdinov@yandex.ru>
# SPDX-License-Identifier: MIT
---
version: "3.3"

services:
  qbot:
    image: blablatdinov/tg-quranbot:${TAG_NAME}
    command: .venv/bin/python main.py run_polling
    restart: always
    ports:
      - "9091:9091"
    environment:
      - API_TOKEN=${API_TOKEN}
      - DATABASE_URL=${DATABASE_URL}
      - DEBUG=${DEBUG}
      - REDIS_DSN=${REDIS_DSN}
      - SENTRY_DSN=${SENTRY_DSN}
      - ADMIN_CHAT_IDS=${ADMIN_CHAT_IDS}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
      - RAMADAN_MODE=${RAMADAN_MODE}
    logging:
      driver: "json-file"
      options:
        labels: "app=qbot,job=qbot,service=telegram"
        tag: "qbot-{{.Name}}"

  event_receiver:
    image: blablatdinov/tg-quranbot:${TAG_NAME}
    command: .venv/bin/python main.py receive_events
    restart: always
    environment:
      - API_TOKEN=${API_TOKEN}
      - DATABASE_URL=${DATABASE_URL}
      - DEBUG=${DEBUG}
      - REDIS_DSN=${REDIS_DSN}
      - SENTRY_DSN=${SENTRY_DSN}
      - ADMIN_CHAT_IDS=${ADMIN_CHAT_IDS}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
      - RAMADAN_MODE=${RAMADAN_MODE}
    logging:
      driver: "json-file"
      options:
        labels: "app=event_reciever,service=events"
        tag: "event_reciever-{{.Name}}"

  scheduler:
    image: blablatdinov/tg-quranbot:${TAG_NAME}
    command: .venv/bin/python scheduler_entry.py
    restart: always
    environment:
      - API_TOKEN=${API_TOKEN}
      - DATABASE_URL=${DATABASE_URL}
      - DEBUG=${DEBUG}
      - REDIS_DSN=${REDIS_DSN}
      - SENTRY_DSN=${SENTRY_DSN}
      - ADMIN_CHAT_IDS=${ADMIN_CHAT_IDS}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
      - RAMADAN_MODE=${RAMADAN_MODE}

  loki:
    image: grafana/loki:3.6.4
    ports:
      - "3100:3100"
    volumes:
      - ../loki_data:/loki
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:3.6.4
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yml:/etc/promtail/config.yml
    depends_on:
      - loki

  prometheus:
    image: prom/prometheus:v3.9.1
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  grafana:
    image: grafana/grafana:12.3
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  grafana-storage:
  loki_data:
