# SPDX-FileCopyrightText: Copyright (c) 2018-2026 Almaz Ilaletdinov <a.ilaletdinov@yandex.ru>
# SPDX-License-Identifier: MIT

on:
  workflow_call

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Checkout master
        run: git fetch origin master:master -u
      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: "3.14.3"
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v5
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Lint via ruff
        run: .venv/bin/ruff check src
      - name: Lint via flake8
        run: .venv/bin/flake8 src
      - name: Check types with mypy
        run: .venv/bin/mypy src
      - name: sqlfluff
        run: .venv/bin/sqlfluff lint migrations --dialect postgres
      - name: Checking files for compliance with editorconfig
        run: |
          VERSION="v3.1.2"
          curl -O -L -C - https://github.com/editorconfig-checker/editorconfig-checker/releases/download/$VERSION/ec-linux-amd64.tar.gz
          mkdir ec
          tar -xzf ec-linux-amd64.tar.gz -C ec
          git ls-files | xargs ec/bin/ec-linux-amd64 -v
      # TODO #1428:30min Включить vulture
      #  стоит придумать способ как игнорировать пока неиспользуемый код
      #  При pdd некоторые классы не используются

      # - name: Check dead code via vulture
      #   run: .venv/bin/vulture src --exclude '*test*' | .venv/bin/ondivi
